# Object files
*.o
*.a
*.dep

#Build & install directories
build/
install/

# Development friendly files
tags

run.sh
gdb.sh
make.sh
.DS_Store
.vscode/*
emodules/emodule_base/emodule_base
emodules/emodule_base/emodule_base.bin
firmware/emodule_base
